.background {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-y: auto;
  }
  
  .text-box {
    height: 30%;
    background-color: #704F1B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    z-index: 20;
    box-sizing: border-box; /* Ensure padding and border are included in the width/height */
  }
  
  .background-img {
    height: 72%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: 0;
  }
  
  .inner-box {
    width: calc(100% - 20px); /* 3px smaller on each side */
    height: calc(100% - 20px); /* 3px smaller on each side */
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; /* Ensure the inner box is above the text-box */
    box-sizing: border-box; /* Ensure padding and border are included in the width/height */
  }
  
  p{
    position: absolute;
    transform: translate(0%, -20%);
    color: aliceblue;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .charA {
    height: 60vh;
    width: auto;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 75vh; /* Center of charA at 50vh from the left */
    transform: translate(-50%, -125%); /* Adjust the translate for proper positioning */
    z-index: 1;
}

.charB {
    height: 60vh;
    width: auto;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 25vh; /* Center of charB at 25vh from the left */
    transform: translate(-50%, -125%); /* Adjust the translate for proper positioning */
    z-index: 1;
}

.charC {
    height: 60vh;
    width: auto;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 123vh; /* Center of charC at 75vh from the left */
    transform: translate(-50%, -125%); /* Adjust the translate for proper positioning */
    z-index: 1;
}

  /* Moyenne fenêtre */
@media ((min-height: 575px) and (max-height: 880px)) {
    p{
        font-size: 32px;
      }
}

/* Petite fenêtre */
@media (max-height:575px) {
    p{
        font-size: 20px;
      }
}