<div class="text-section">
    <div class="paragraph">
      <p class="bold-text">What is this all about?</p>
      <p class="light-text">Simulation of Your Turn to Die is a game in the same genre as Hunger Games Simulator. However, this time you’ll get to generate a Your Turn to Die death game scenario, either from the actual characters, or with anyone else since you’ll get to upload your own images, change every character with their abilities.
        <br><br>This game is basically a remake of the one on Itch (also made by me), I tried to keep the same as before, I hope you’ll enjoy!</p>
    </div>
    
    <br> <!-- Skip 3 lines between paragraphs -->
    
    <div class="paragraph">
      <p class="bold-text">Custom Games :o</p>
      <p class="light-text">If you’ve played Simulation of Your Turn to Die on itch (made by me), then you should know that the death games are “semi-random”, which means that the characters will randomly be put in some situations, but they’ll (almost) always act the same way, this is due to statistics I gave them.
        <br><br>Good news is, that you’ll get the opportunity to custom a lot of stuff!
        <br><br>You’ll get to choose the number of participants, choose their stats (strength, speed, qi, kindness...) but also their relationship with everyone (I’m personally using it for the Yabusames, along with Joe/Sara, Mishima/Nao, Keiji/Megumi...)</p>
    </div>
    
    <br> <!-- Skip 3 lines between paragraphs -->
    
    <div class="paragraph">
      <p class="bold-text">Who am I? :3</p>
      <p class="light-text">This website was made by me, Lunet (also known as LunetOnItch, LunetOnGit...) and I’m also the one who’ve made that same game on itch 2 years ago. I couldn’t continue the project due to various personal issues, and also some technical issues (for instance, that project was made on Scratch, so it was really annoying to add some cool features, and it was basically impossible to let the player upload images for their custom games.)
        <br><br>I hope you’ll enjoy playing Simulation of Your Turn to Die!!!</p>
    </div>
  </div>
  