<div class="title">Relationships</div>
<div class="subtitle">Step 2/3</div>
<br>
<br>    
<div class="description">
    This is where you can tell us about the trust levels between characters.
    <br>
    By setting these levels, you can ensure that characters who dislike each other won't cooperate, and those who trust each other will work together. 
    <br>
    <br>
    I recommend setting a default trust level that seems reasonable for most characters and adjusting only where necessary.
    <br>
    For instance, the current default is 50% (neutral) because most characters don't know each other. I've only changed the trust levels for characters who already know each other.
    <br>
    <br>
    <strong>Here's a guide to the trust levels:</strong>
    <br>
    <strong>0-20%:</strong> Strong Distrust
    <br>
    <strong>21-40%:</strong> Distrust
    <br>
    <strong>41-59%:</strong> Neutral
    <br>
    <strong>60-80%:</strong> Trust
    <br>
    <strong>81-100%:</strong> Strong Trust
  </div>